$filler: #111;
$filler-transparent: #000b;
$filler-light-transparent: #111e;
$primary: #146;
$primary-transparent: #146d;
$primary-dark-1: #012;
$primary-dark-2: #123;
$primary-light-1: #369;
$primary-light-2: #6af;
$annotation: #777;
$annotation-dark: #222;
$annotation-light: #ddd;
$text: #fff;
$text-transparent: #fffb;
$secondary: #ff3d;
$secondary-light: #ff6;
